# Python virtual environment
env/
myenv/
venv/
pyvenv.cfg

# Python cache files
__pycache__/
*.pyc
*.pyo

# Environment variables (secrets)
.env

# Logs
*.log

# VS Code / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db